This is a script that removed ~108 outlier samples from the data set.

In [1]:
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1       ✔ purrr   0.3.2
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
is_gt8 <- function(dist, d){
    samples <- rownames(d)[dist > 8 | dist < -8]
    return(samples)
}

zap_outliers <- function(data){
    d <- as.data.frame(scale(data %>% select(B11:Cd111), center=T, scale=T))
    rownames(d) <- data$samplename
    x <- apply(d, 2, is_gt8, d=d)
    outliers <- unique(unlist(x))
    d_clean <- data[!(data$samplename %in% outliers),]
    rownames(d_clean) <- d_clean$samplename
    return(d_clean) 
}

In [3]:
data <- read.csv('./df/vitis_ionomics_data.csv')
data$Li7 <- NULL
data$X <- NULL
dim(data)

[1] 7479   21

In [4]:
dupes <- as.data.frame(table(data$samplename)[table(data$samplename) > 1])
d <- data[!(data$samplename %in% dupes$Var1),]

dim(d)

[1] 7439   21

In [5]:
d <- zap_outliers(d)
dim(d)

[1] 7331   21

In [6]:
summary(d)

                  samplename        B11              Na23
 2017_anthesis_10_A_1_X:   1   Min.   :-22.57   Min.   :-20.11
 2017_anthesis_10_A_1_Y:   1   1st Qu.: 14.50   1st Qu.: 14.10
 2017_anthesis_10_A_1_Z:   1   Median : 18.85   Median : 23.11
 2017_anthesis_10_A_2_X:   1   Mean   : 21.88   Mean   : 36.21
 2017_anthesis_10_A_2_Y:   1   3rd Qu.: 26.43   3rd Qu.: 39.53
 2017_anthesis_10_A_2_Z:   1   Max.   :123.29   Max.   :450.75
 (Other)               :7325
      Mg26              Al27             P31               S34
 Min.   : -702.1   Min.   :-17.11   Min.   :   60.5   Min.   :-56835.3
 1st Qu.: 2022.6   1st Qu.: 10.04   1st Qu.: 1569.1   1st Qu.:   829.6
 Median : 2536.5   Median : 17.98   Median : 2452.1   Median :  1478.6
 Mean   : 2798.6   Mean   : 21.22   Mean   : 2728.4   Mean   :  1602.9
 3rd Qu.: 3332.3   3rd Qu.: 27.89   3rd Qu.: 3482.7   3rd Qu.:  2085.5
 Max.   :13035.7   Max.   :186.17   Max.   :14486.0   Max.   :103656.6
                                    NA's   :46        NA's   :927
      K39             Ca44            Fe54             Mn55
 Min.   :-2476   Min.   :-8544   Min.   :-78.84   Min.   :-29.99
 1st Qu.: 6288   1st Qu.: 9799   1st Qu.: 57.85   1st Qu.: 48.18
 Median : 8729   Median :14714   Median : 71.35   Median : 71.17
 Mean   : 9743   Mean   :15745   Mean   : 79.71   Mean   : 99.94
 3rd Qu.:12784   3rd Qu.:20177   3rd Qu.: 91.86   3rd Qu.:115.20
 Max.   :47780   Max.   :91214   Max.   :415.63   Max.   :875.68
 NA's   :852     NA's   :671
      Co59               Ni60              Cu63             Zn66
 Min.   :-0.05479   Min.   :-0.3075   Min.   :-1.196   Min.   :  3.861
 1st Qu.: 0.12337   1st Qu.: 0.4170   1st Qu.: 4.185   1st Qu.: 14.342
 Median : 0.23315   Median : 0.7679   Median : 5.971   Median : 21.227
 Mean   : 0.29459   Mean   : 0.9806   Mean   : 8.374   Mean   : 33.671
 3rd Qu.: 0.39012   3rd Qu.: 1.2719   3rd Qu.:10.570   3rd Qu.: 37.606
 Max.   : 2.76016   Max.   :10.2750   Max.   :63.504   Max.   :551.053
                    NA's   :46
      As75               Se78              Rb85             Sr88
 Min.   :-0.11635   Min.   :-4.0688   Min.   :-1.251   Min.   :-27.32
 1st Qu.: 0.01196   1st Qu.: 0.0064   1st Qu.: 3.839   1st Qu.: 28.31
 Median : 0.01957   Median : 0.0288   Median : 5.853   Median : 47.16
 Mean   : 0.02348   Mean   : 0.0440   Mean   : 9.236   Mean   : 55.52
 3rd Qu.: 0.03045   3rd Qu.: 0.0618   3rd Qu.:10.641   3rd Qu.: 75.09
 Max.   : 0.16156   Max.   :14.3758   Max.   :74.931   Max.   :307.68
                    NA's   :671
      Mo98             Cd111
 Min.   :-0.0541   Min.   :-0.155080
 1st Qu.: 0.0844   1st Qu.: 0.004976
 Median : 0.1146   Median : 0.013599
 Mean   : 0.1327   Mean   : 0.022553
 3rd Qu.: 0.1591   3rd Qu.: 0.031290
 Max.   : 0.9110   Max.   : 0.362773

In [7]:
write.csv(d, "./df/vitis_ionomics_data_noOutlier.csv")