This script takes the raw data from the KNN imputation and merges the metadata back in for machine learning in python.

The cells at the bottom of this manuscript

In [2]:
library(dplyr)
library(tidyverse)

In [3]:
vif_imputed <- read.csv("./df/1719_ionomics_BACKTRANSFORMED.csv")
vif_meta <- read.csv("./df/vitis_ionomics_meta.csv")
vif_imputed <- vif_imputed  %>% rename(samplename=X)

# Merge metadata and data to new df
vif <- merge(vif_meta, vif_imputed, on='samplename')

In [4]:
vif_imputed <- read.csv("./df/1719_ionomics_BACKTRANSFORMED.csv")
vif_meta <- read.csv("./df/vitis_ionomics_meta.csv")
vif_imputed <- vif_imputed  %>% rename(samplename=X)

# Merge metadata and data to new df
vif <- merge(vif_meta, vif_imputed, on='samplename')

# Set row number to sample name- for consistency
rownames(vif) <- vif$samplename

vif$row <- as.factor(vif$row)
vif$block <- as.factor(vif$block)
vif$year <- as.factor(vif$year)

# capitalize the Z in leafposition (change to valid data)
vif$leafpos[which(vif$leafpos == 'z')] <- 'Z'

# refactor
vif$leafpos <- factor(vif$leafpos, levels=c('X', 'Y', 'Z'))

# Changing order
vif$rootstock <- factor(vif$rootstock, levels=c('Ungrafted', '1103P', '3309C', 'SO4'))
vif$treatment <- factor(vif$treatment, levels=c('None', 'RDI', 'Full'))
vif$phenology <- factor(vif$phenology, levels=c('anthesis','veraison','harvest'), labels=c('Anthesis', 'Veraison', 'Harvest'))

In [5]:
head(vif[which(vif[-c(1:11)] < 0),])

                       samplename             X   year phenology row replicate
2017_veraison_10_D_4_Y 2017_veraison_10_D_4_Y  98 2017 Veraison  10  4
2018_harvest_15_B_4_Y  2018_harvest_15_B_4_Y  673 2018 Harvest   15  4
NA                     NA                      NA NA   NA        NA  NA
NA.1                   NA                      NA NA   NA        NA  NA
NA.2                   NA                      NA NA   NA        NA  NA
NA.3                   NA                      NA NA   NA        NA  NA
                       cell leafpos treatment block ⋯ Co         Ni
2017_veraison_10_D_4_Y D    Y       Full      1     ⋯ 0.28926856 -0.3075442
2018_harvest_15_B_4_Y  B    Y       None      3     ⋯ 0.03691148  0.6940252
NA                     NA   NA      NA        NA    ⋯         NA         NA
NA.1                   NA   NA      NA        NA    ⋯         NA         NA
NA.2                   NA   NA      NA        NA    ⋯         NA         NA
NA.3                   NA   NA      NA        NA    ⋯         NA         NA
                       Cu        Zn       As           Se         Rb
2017_veraison_10_D_4_Y -1.195943 13.31057 -0.026380301 -0.2526775 -1.250642
2018_harvest_15_B_4_Y   2.318957 32.65913 -0.008651934  0.4191440  3.720592
NA                            NA       NA           NA         NA        NA
NA.1                          NA       NA           NA         NA        NA
NA.2                          NA       NA           NA         NA        NA
NA.3                          NA       NA           NA         NA        NA
                       Sr        Mo           Cd
2017_veraison_10_D_4_Y -27.31881  0.116203557 0.014605108
2018_harvest_15_B_4_Y   56.78785 -0.005972052 0.000692694
NA                            NA           NA          NA
NA.1                          NA           NA          NA
NA.2                          NA           NA          NA
NA.3                          NA           NA          NA

In [6]:
vif <- vif[-c(which(vif$samplename == '2017_veraison_10_D_4_Y' | vif$samplename == '2018_harvest_15_B_4_Y')), ]

In [7]:
head(vif[which(vif[-c(1:11)] < 0),])

     samplename X  year phenology row replicate cell leafpos treatment block ⋯
NA   NA         NA NA   NA        NA  NA        NA   NA      NA        NA    ⋯
NA.1 NA         NA NA   NA        NA  NA        NA   NA      NA        NA    ⋯
NA.2 NA         NA NA   NA        NA  NA        NA   NA      NA        NA    ⋯
NA.3 NA         NA NA   NA        NA  NA        NA   NA      NA        NA    ⋯
NA.4 NA         NA NA   NA        NA  NA        NA   NA      NA        NA    ⋯
NA.5 NA         NA NA   NA        NA  NA        NA   NA      NA        NA    ⋯
     Co Ni Cu Zn As Se Rb Sr Mo Cd
NA   NA NA NA NA NA NA NA NA NA NA
NA.1 NA NA NA NA NA NA NA NA NA NA
NA.2 NA NA NA NA NA NA NA NA NA NA
NA.3 NA NA NA NA NA NA NA NA NA NA
NA.4 NA NA NA NA NA NA NA NA NA NA
NA.5 NA NA NA NA NA NA NA NA NA NA

In [8]:
write.csv(vif, './df/backtransformed_for_rf.csv')